<html>
    <head>
    <style type="text/css">
 
    body{margin-top: 0px;margin-left: 0px;
        background-image: url(https://i.ibb.co/98HwqNJ/background1.jpg);
        background-repeat: no-repeat;
     }
    </style>
    
    </head>
    <body>
    
    <div>
        <div style="position:absolute;left:457.56px;top:526.35px" class="cls_003"><span class="cls_003">NOMBRE</span></div>
        <div style="position:absolute;left:466.55px;top:621.09px" class="cls_003"><span class="cls_003">CARGO,</span></div>
        <div style="position:absolute;left:391.27px;top:654.12px" class="cls_003"><span class="cls_003">EXPERIENCIA</span></div>
        <div style="position:absolute;left:483.48px;top:720.17px" class="cls_003"><span class="cls_003">FECHA</span></div>
        <div style="position:absolute;left:346.40px;top:782.51px" class="cls_004"><span class="cls_004"> </span><A HREF="http://www.it-talent.cl/">WWW.IT-TALENT.CL</A> </div>
    </div>
  
    
    
    </body>
    </html>
    